<nav class="navbar navbar-dark bg-dark">

  <!-- NAV LIST HERE -->
    <ul class="nav nav-pills text-white">
        <li class="nav-item">
          <a class="nav-link active text-white" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Contact</a>
        </li>
        <li class="nav-item text-white">
          <a class="nav-link text-white" href="#" tabindex="-1" aria-disabled="true">Register</a>
        </li>
      </ul>

<!-- LOGIN FORM HERE -->
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="email" placeholder="Email">
        <input class="form-control mr-sm-2" type="password" placeholder="Password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </form>


</nav>