
/* Header */
body{
font-family: 'Playfair Display', serif;
background-color: #C4C4C4;
color:rgb(0, 0, 0)
}


#contact {
    height: 100%;
    width: 100%;
    padding: 1%;
    background-color: #BAB4BB;
    text-shadow: 1px 1px 4px black;
    box-shadow: 5px 10px 10px #888888;
}
/* contact page name input */
#c-name {
    width: 50%;
}
/* contact page email input */
#c-email {
    width: 50%;
}

/* textarea responsive */
#textarea {
    width: 50%;
}


/* Homepage */

.dark-section {
    background: #313131;
    color: white;
}

.light-section {
    background: #BAB4BB;
    color: rgb(0, 0, 0);
}

.carousel {
    background: #BAB4BB;
}

.carousel-item{
    text-align: center;
    max-height: 400px;
    min-height: 200px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.carousel-item img {
    width:100%;
    opacity: .5;
}
/* End Hompeage */





/* Dashboard */
.render-form {
    background-color: blueviolet;
    height: 100px;
    width: 200px;
}


/* End Dashboard */

.navbar-container {
    background-color: #524A5C;
    width: 100%;
    height: 150px;
    color: white;
}

#nav1 {
    background-color: #524A5C;  
}

#hmbtn {
    background-color: #313131;
}

#footer {
background-color: #524A5C; 
}

#formBox {
    height: 400px;
    background-color: grey;
    border-radius: 10px;
    width: 100%;
}
#infoBox {
    height: 400px;
    background-color: grey;
    border-radius: 10px;
    width: 100%;
}

#symptomNav {
    height: 400px;
    background-color: grey;
    border-radius: 10px;
    width:100%;
}

#symptomDiv {
    height: 400px;
    background-color: grey;
    border-radius: 10px;
    width: 100%;
}

/* Doctor */
.form-wrapper {
    background-color: gray;
    color: rgb(238, 235, 235);
    border-radius: 10px;
    text-shadow: 1px 1px 4px black;
    box-shadow: 5px 10px 10px #888888;
    margin: 0 auto;
    padding: 10px;

}

/* End doctor */