
<%- include('partials/header.ejs')%>
<%- include('partials/navbar.ejs')%>

<!-- contact form -->
<div class="container my-3 dark-section" id="contact">
    <div class="col-md-6 m-auto">
    <h1 class="text-center mb-3" >Get in touch</h1>
        <form 
        action="/contact"
        method="POST"
        >
        <label for="name">Name</label><br>
        <input type="text" name="name" class="form-control"
        id="c-name"><br>
        <label for="email">Email</label><br>
        <input type="email" name="email" placeholder="user@example.com" class="form-control"
        id="c-email"><br>
        <label for="message">Message</label><br>
        <textarea name="message" class="form-control"
        id="textarea" cols="50" rows="8"></textarea><br>
        <button type="submit" class="btn btn-dark" value="submit">Submit</button>
        </form>
    </div>
</div>

<%- include('partials/footer.ejs') %>
