
<%- include('partials/header.ejs')%>
<%- include('partials/navbar.ejs')%>

<!-- contact form -->
<div class="container my-3 dark-section" id="contact">
    <h1 class="text-center">Get in touch</h1>
        <form 
        action="/contact"
        method="POST"
        class="text-center">
        <label for="name">Name</label><br>
        <input type="text" name="name" placeholder="Enter your name"
        id="c-name"><br>
        <label for="email">Email</label><br>
        <input type="email" name="email" placeholder="Enter your email"
        id="c-email"><br><br>
        <label for="message">Message</label><br>
        <textarea name="message" placeholder="Enter your message" 
        id="textarea" cols="50" rows="8"></textarea><br>
        <button type="submit" class="btn btn-dark" value="submit">Submit</button>
        </form>
</div>

<%- include('partials/footer.ejs') %>
