<%- include('partials/header.ejs')%>
<%- include('partials/navbar-loggedin.ejs')%>


<div class="container-fluid">
    <div class="container">
<!-- Section One -->
<div class="section-1">
    <div class="dash-wrapper">
        <h2 class="text-center">Welcome Back ${user}</h2>
        <div class="row">
            <div class="col-4">
            <div class="box-container">
                <h4 class="text-center">ADD</h4>
    
                <form action="/symptom" method="GET">
                    <button type="submit" class="btn btn-block btn-light btn-lg" value="Add Symptom">Symptom</button>
                </form>
                <form action="/treatment" method="GET">
                    <button type="submit" class="btn btn-block btn-light btn-lg" value="Add Treatment">Treatment</button>
                </form>
                <form action="/doctor" method="GET">
                    <button type="submit" class="btn btn-block btn-light btn-lg" value="Add Doctor">Add Doctor</button>
                </form>
    
            </div>
            </div>
        </div>


    </div>

</div><!-- end section one -->


<!-- Section two -->
<div class="section-2">
    <div class="dash-wrapper">
        <h2 class="text-center">Insights</h2>

        <div class="row">
            <div class="col-4">
                <button class="btn btn-md btn-block btn-dark">All Time</button>
            </div>
            <div class="col-4">
                <button class="btn btn-md btn-block btn-dark">30 Days</button>
            </div>
            <div class="col-4">
                <button class="btn btn-md btn-block btn-dark">Week</button>
            </div>
        </div>
        
        <div class="row text-center mt-2">
            <div class="col-8">
                <div class="graph-div">
                    <p>Graphs would go here</p>
                    <canvas></canvas>
                </div>

            </div>
            <div class="col-4">
                <div class="avg-pain">
                    <p>Average pain would go here</p>
                </div>

            </div>
        </div>

        <div class="row text-center mt-2">
            <div class="col-8">
                <div class="graph-div">
                    <p>Second Graph would go here</p>
                </div>
            </div>
        </div>


    </div>    
</div><!-- end section two -->


<!-- section three -->
    <div class="section-3">
        <div class="dash-wrapper">
            <h2 class="text-center">History</h2>
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-md btn-block btn-dark" formaction="/alltime">All Time</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-md btn-block btn-dark">30 Days</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-md btn-block btn-dark">Week</button>
                </div>
            </div>
            

            <div class="row mt-3">
            <div class="col-4">
                <div class="symptom-container box-container">
                    <h4 class="text-center">Symptoms</h4>
                    <ul>
                        <li><div>You could put it here <span><i class="fas fa-trash-alt"></i></span></div></li>
                        <li><div>You could put it here <span><i class="fas fa-trash-alt"></i></span></div></li>
                        <li><div>You could put it here <span><i class="fas fa-trash-alt"></i></span></div></li>
                        <li><div>You could put it here <span><i class="fas fa-trash-alt"></i></span></div></li>
                    </ul>
                </div>
            </div>                
            <div class="col-4">
                <div class="treatment-container box-container">
                    <h4 class="text-center">Treatments</h4>
                    <ul>
                        <li><div>You could put it here <span><i class="fas fa-trash-alt"></i></span></div></li>
                        <li><div>You could put it here <span><i class="fas fa-trash-alt"></i></span></div></li>
                        <li><div>You could put it here <span><i class="fas fa-trash-alt"></i></span></div></li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="doctor-container box-container">
                    <h4 class="text-center">Doctors</h4>
                        <ul>
                            <li><div>You could put it here <span><i class="fas fa-trash-alt"></i></span></div></li>
                            <li><div>You could put it here <span><i class="fas fa-trash-alt"></i></span></div></li>
                            <li><div>You could put it here <span><i class="fas fa-trash-alt"></i></span></div></li>
                        </ul>
                </div>
            </div>
            </div>

        </div>
    </div>




    </div>
</div> <!-- closes main container-fluid -->








<%- include('partials/footer.ejs')%>
