
    <%- include('partials/header.ejs')%>
    <%- include('partials/navbar.ejs')%>


<!-- Section one -->
<div class="section section-1 light-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4 mt-3">
                <h1 class="fw-bold">What do we provide?</h1>
                <h2 class="text-muted fw-light">Hero Sub-Title Description</h2>
                <p class="fw-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius fuga minima, odio temporibus provident ratione, eum qui accusamus amet dolorum odit harum ut distinctio consectetur pariatur libero tempore. Inventore, totam?</p>
            </div> <!-- first col -->
            <div class="col-lg-4 offset-lg-2 mt-3">
                <h1 class="fw-bold">Resources</h1>
                <p class="fw-bold"></p>
                <ul>
                    <li><a href="https://nancysnookendo.com/">Nancys Nook</a></li>
                </ul>
            </div><!-- second -col -->
            <div class="col-lg-1"></div>
        </div>  <!-- end row -->
    </div>
</div>


<!-- Section 2 -->
<div class="section section-2 dark-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 mt-3 mb-3">
                <%- include('partials/carousel.ejs')%>             
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <h1 class="fw-bold">What do we provide?</h1>
                <h2 class="text-muted fw-light">Hero Sub-Title Description</h2>
                <p> Here are some UX/UI photos of our app. 
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius fuga minima, odio temporibus provident ratione, eum qui accusamus amet dolorum odit harum ut distinctio consectetur pariatur libero tempore. Inventore, totam?
                </p>
            </div>   
        </div>
    </div>
</div>



<!-- Section 3 -->
<div class="section section-3 light-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4 mt-2">
                <h1>About Us Text</h1>
                <p>We are a group of Developers focus on providng better tools for women.</p>
            </div> <!-- first col -->
            <div class="col-lg-4 offset-lg-2">
                <form action="/register" class="mt-4">
                    <button class="btn btn-dark btn-lg" type="submit">Register</button>
                </form>
            </div><!-- second -col -->
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>








<%- include('partials/footer.ejs') %>