
    <%- include('partials/header.ejs')%>
    <%- include('partials/navbar.ejs')%>


<!-- Section one -->
<div class="section section-1 light-section">
    <div class="container-fluid">
        <div class="row text-justify">
            <div class="col-1"></div>
            <div class="col-4 mt-3">
                <h1 class="fw-bold"><u>What is CIMA? </u></h1>
                <h2 class="text-muted fw-light">Woman Focused</h2>
                <h3 class="text-muted fw-light ">Chronic Illness Managment App</h3>

                <p class="fw-bold text-justify">
                    By keeping track of your Symptoms, Treatments, and Doctors. We aim to help release the cognitve and emotional overload that comes with chronic illness. As you track your symptoms we hope to create a clearer picture for what you are experienceing and how often it impacts your daily life to empower you to find the best care for your health.</p>
                    <p>We hope to help short diagnosis times, help identify pelvic pain symptoms and provide insights to user logs.</p> 
            </div> <!-- first col -->
            <div class="col-1">
                <div class="vertical-line">

                </div>
            </div>
            <div class="col-lg-4 offset-1 mt-3 text-center">
                <h1 class="fw-bold"><u>Resources </u></h1>
                <p class="fw-bold text-muted">Here is a list of resourses for reproductive health</p>
                <ul>
                    <li><a href="https://www.cdc.gov/reproductivehealth/index.html">Womens Reprodductive Health</a></li>
                    <li><a href="https://nancysnookendo.com/">Nancys Nook</a></li>
                    <li><a href="https://endo.icarebetter.com//">Find an Endometriosis Doctor</a></li>
                </ul>
            </div><!-- second -col -->
            <div class="col-1"></div>
        </div>  <!-- end row -->
    </div>
</div>


<!-- Section 2 -->
<div class="section section-2 dark-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5 mt-3 mb-3">
                <%- include('partials/carousel.ejs')%>             
            </div>
            <div class="col-1"></div>
            <div class="col-4">
                <h1 class="fw-bold"><u>What do we provide? </u></h1>
                <h2 class="text-muted fw-light">Hero Sub-Title Description</h2>
                <p> Here are some UX/UI photos of our app.
                </p>
                <p>We aim to continously empthaize and listen to our current users as well as our future users. By maintaining this open dialouge we hope to help address their healthcare needs and improve through user feedback. If there is a feature we are missing or you would like to see please feel free to <a href="/contact"><u>Contact us</u></a>! </p>
                
            </div>   
        </div>
    </div>
</div>



<!-- Section 3 -->
<div class="section section-3 light-section">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-1"></div>
            <div class="col-4 mt-2">
                <h1><u>About Us </u></h1>
                <p>We are a group of student developers from Austin Community College software developer bootcamp. For our capstone project we  focused on providng a better health technology tool for women and tracking reproductive health issues.</p>
                
            </div> <!-- first col -->
            <div class="col-4 offset-2">
                <form action="/register" class="mt-4">
                    <button class="btn btn-dark btn-lg" type="submit">Register</button>
                </form>
            </div><!-- second -col -->
            <div class="col-1"></div>
        </div>
    </div>
</div>








<%- include('partials/footer.ejs') %>