
<%- include('partials/header.ejs')%>
<%- include('partials/navbar.ejs')%>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <h1 class="text-center mb-3">Login</h1>

    <form action="/login" method="POST">
      <div class="form-group">
        <label for="username">Email</label>
        <br>
        <input 
        type="email" 
        id="username" 
        name="username" 
        class="form-control"
        placeholder="Enter Email"
        required>
    </div>
    <div class="form-group">
        <br>
        <label for="password">Password</label>
        <br>
        <input 
        type="password" 
        id="password" 
        name="password" 
        class="form-control"
        placeholder="Enter Password"
        required>
    
    </div>
    <button type="submit" class="btn btn-secondary">Login</button>
    </form>

    <p class="lead mt-2">No account?</p>
    <button type="submit" class="btn btn-dark" onclick="location.href='/register'">Register</button>
    
    <p class="lead mt-2">Forgot password?</p>
    <button type="submit" class="btn btn-dark mb-4" onclick="location.href='/reset'">Reset Password</button>
    
    </div>
</div>

<%- include('partials/footer.ejs') %>