
    <%- include('partials/header.ejs')%>
    <%- include('partials/navbar.ejs')%>

<h1>Login</h1>
<form action="/login" method="POST">
    <div>
        <label for="username">Email</label>
        <br>
        <input type="email" id="username" name="username" required>
    </div>
    <div>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" id="password" name="password" required>
        <br>
    </div>

    <input type="submit" value="Login">
    <br>
    <button type="button" onclick="location.href='/register'">Register</button>
    <br>
    <button type="button" onclick="location.href='/reset'">Reset Password</button>

</form>


<%- include('partials/footer.ejs') %>