<div class="container-fluid row align-items-center" id="registerContainer">
    <div class="container-fluid row align-items-center" id="register">
        <h3 class="text-light text-center">Register</h3>
        <form action="" class="text-center">
            <label for="email">Email</label>
            <br>
            <input type="text" name="email">
            <br>
            <label for="email">First Name</label>
            <br>
            <input type="text" name="email">
            <br>
            <label for="email">Last Name</label>
            <br>
            <input type="text" name="email">
            <br>
            <label for="email">Date of Birth</label>
            <br>
            <input type="text" name="email">
            <br>
            <label for="email">Password</label>
            <br>
            <input type="text" name="email">
            <br>
            <label for="email">Re-enter Password</label>
            <br>
            <input type="text" name="email">
            <br><br>
            <button type="button" class="btn btn-dark">Register</button>
            <br><br>
            <button type="button" class="btn btn-dark">Register with OAuth</button>
            <br><br>
        </form>
    </div>
</div>