<%- include('partials/header.ejs')%>
<%- include('partials/navbar-loggedin.ejs')%>
<div class="container dash-wrapper justify-content-center">
   <div class="row justify-content-center">
    <h4>Welcome to chart test</h4>
   </div> 
</div>
<div class="container dash-wrapper">

</div>


<%- include('partials/footer.ejs')%>
