<%- include('partials/header.ejs')%>
<%- include('partials/navbar-loggedin.ejs')%>

<!-- main div -->
<div class="container-fluid">
    <div class="container mt-5 mb-4" id="form-wrapper"> <!-- form wrapper -->
        <form method="POST" action="/treatment">
              <!-- Treatment Name -->
              <div class="form-group row">
                <label for="treatement" class=" col-1 col-form-label">Treatment</label>
                <div class="col-4">
                    <input class="form-control" type="text" name="treatment" id="treatment" placeholder="Medicine name">
                </div>
            </div>
            <!-- Start & EndDate  -->
            <div class="form-group row">
                <label for="startVisit" class="col-1 col-form-label">Started Taking</label>
                <div class="col-4">
                  <input class="form-control" type="date" name="start"  id="start">
                </div>
                <label for="endVisit" class="col-1 col-form-label">Last Taken</label>
                <div class="col-4">
                  <input class="form-control" type="date" name="end" id="end">
                </div>
            </div>


            <div class="row">
            <!-- Effective -->
            <label class="col-1 col-form-label" for="effective">Effective</label>
            <div class="col-4">
              <select id="effective" name="effective" class="form-control" multiple="multiple">
                <option value="0">0 -No Relief</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 - Somewhat</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10 - Full Relief</option>
              </select>
            </div>

            <!-- Review -->
            <div class="form-group">
              <label for="review" class="col-1 col-form-label">Review & Additional Notes</label>
              <div class="col-6">
                <textarea class="form-control" cols="" id="review" name="review" placeholder=" " rows=""></textarea>
              </div>
            </div>


            </div>

              <!-- Button -->
            <button class="btn btn-block btn-custom " name="submit" type="submit">
              Submit
             </button>

        </form>
    </div>
</div>

<%- include('partials/footer.ejs') %>